<div class='container'>
  {{> header}}
  <div class="profile">
    <div><img src="{{user.picture}}" alt="Profile picture" class="profile-pic"></div>
    <div>{{user.firstname}} {{user.lastname}}</div>
    <div>Age: {{user.age}}</div>
    <a href="/profile/update">Update</a>
    <a href="/recipe/search">Favourite Recipes</a>
    <a href="/recipe/search">Back to Recipe</a>
  </div>
</div>