{{> header}}
<div class="popup-profile-upd">
  <div class="popup-profile-upd-content">
        {{!-- <div class="container"> --}}
            <div >
                <form action="/profile/update" class="profile" method="post" enctype="multipart/form-data">
                    <div>
                        <label for="firstname" class="">First Name </label>
                        <input type="text" name="firstname" value="{{user.firstname}}" >
                    </div>
                    <div>
                        <label for="lastname"  class="">Last Name  </label>
                        <input type="text" name="lastname" value ="{{user.lastname}}">  
                    </div>
                    <div>
                        <label for="picture"   class="">Choose the file to upload </label>
                        <input type="file" name="picture" value ="{{user.picture}}" >     
                    </div>
                    <div>
                        <label for="age"       class="">Age     </label>
                        <input type="text" name="age"     value ="{{user.age}}" >      
                    </div>
                    <button class="recipe-btn" type="submit">SAVE</button>
                </form>
            </div>
        {{!-- </div> --}}
    </div>
</div>
