 <h1>PROFILE UPDATE PAGE</h1>

<form action="/profile/update" method="post">
  <label for="username" class="">Username </label>
  <input type="text" name="username" id="">
  <label for="password" class="">Password </label>
  <input type="text" name="password" id="">
  <button type="submit">SAVE</button>
</form>