body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.container {
  background-color: lightgrey;
  margin: 0px;
  height: 100vh;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.profile > * {
  margin: 15px;
}
label {
  display: inline-block;
  width: 140px;
  text-align: right;
}​
input {
  border: 1px solid black;
}
a {
  color: #00B7FF;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.header {
  background-color: #D23131;
  height: 50px;
  text-align: center;
  padding-top: 20px;
}
.navbar > li {
  list-style: none;
  margin-right: 10px;
}

.header  a {
  text-decoration: none;
  color:white;
  font-family: Reenie Beanie;
  font-style: normal;
  font-size: 25px;
  line-height: 36px;
}
.header a:visited{ 
  color: white;
}

.background {
  background: url(tomatoes-320860_1280.jpg); }

.searchbar {
  position: absolute;
  width: 1078px;
  height: 89px;
  left: 223px;
  top: 650px;
  background: #FFFFFF;
  border: 3px solid #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px; }

.search-btn {
  position: absolute;
  width: 233px;
  height: 49px;
  left: 1066px;
  top: 763px;
  background: #D23131;
  border-radius: 45px; }