{{> header}}
<div class="grid grey-background">
{{#each data}}
  <div class="box2">
    <img class="img" src="{{image}}" alt="recipe-image">
    <a class ="recipe-btn" href="/recipe/detail/{{recipeId}}">{{title}}</a>
  </div> 
{{/each}}
</div> 
