{{> header}}
<div class="background">
  <a href="/recipe/favourite">Show my favourite recipes</a>
  <h1>Whats In Your Fridge?</h1>

This is recipe index search page  

<form class="searchbar" action="/recipe/search" method="post">
  <input type="radio" name="diet" value="vegetarian" >Vegetarian 
  <input type="radio" name="diet" value="vegan">Vegan  
  <input type="radio" name="diet" value="Gluten Free">Gluten Free  
  <label for="ingredient" class="">Add Ingredient </label>
  <input type="text" name="ingredient" id="">
  <button class="search-btn" type="submit">SEARCH</button>
</form>
</div>