<a href="/profile/show">Profile</a>

<a href="/recipe/favourite">Show my favourite recipes</a>

<a href="/auth/signup">Signup</a>

<a href="/auth/login">Login</a>


This is recipe index search page  

<form action="/recipe/search" method="post">
  <input type="radio" name="diet" value="vegetarian" >Vegetarian 
  <input type="radio" name="diet" value="vegan">Vegan  
  <input type="radio" name="diet" value="Gluten Free">Gluten Free  
  <label for="ingredient" class="">Add Ingredient </label>
  <input type="text" name="ingredient" id="">
  <button type="s">SEARCH</button>
</form>